body {
    display: flex;
    background: hsl(233, 47%, 7%);
    height: 100vh;
    justify-content:center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

#card {
    display: flex;
    height: 636px;
    width: 770px;
    align-items: center;
}

#image {
    height: 318px;    
    width: 385px;
    position: relative;
}

#image > img {
    height: 100%;
    width: 100%;
    filter: contrast(150%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#image > div {
    height: 100%;
    width: 100%;
    background: hsla(277, 64%, 61%, 0.623);
    position: absolute;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#text {
    height: 318px;
    width: 385px;
    background: hsl(244, 38%, 16%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    padding: 0px 50px;
    padding-top: 20px;
}

#text > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#text > h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

#text > h1 > span {
    color: hsl(277, 64%, 61%);
}

#text > p {
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.75) ;    
}

#text div span p{
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    font-family: 'Lexend Deca', sans-serif;
}

@media screen and (max-width: 800px) {
    #card {
        flex-direction: column-reverse;
        height: 100vh;
        justify-content: center;
    }

    #text {
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #image {
        height: 265px;
        width: 321px;
    }

    #image img {
        border-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #image div {
        border-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #text {
        height: 450px;
        width: 321px;
    }

    #text h1 {
        font-size: 27px;
        text-align: center;
    }

    #text p {
        font-size: 13px;
        text-align: center;
    }

    #text div {
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
    }

    #text div span p{
        margin: 0;
        margin-bottom: 15px;
    }
}
